[data-theme="dark"]{
    --white: #000000;
    --black: #ffffff;
    --dark: #ffffff;
    --light: #001E62;
    --navyP: #F0F2F8;
    --inactive: #3154A5;
    --navyS: #DFE3F0;
    --navyD: #fff;
    --yellow: #DAAA00;
}