:root{
    --black: #000000;
    --white: #ffffff;
    --dark: #000000;
    --light: #F0F2F8;
    --navyP: #001E62;
    --navyS: #3154A5;
    --inactive: #DFE3F0;
    --navyD: #001442;
    --yellow: #DAAA00;
}