/*.vSwiper-wrapper .swiperNavCustom {
    top: 75% !important;
}*/
label.error
{
    display:none!important;
}
.copy-notification {
    color: #ffffff;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150px;
    margin-top: -30px;
    margin-left: -85px;
    display: none;
    text-align: center;
    z-index: 99999999;
}

.listing {
    display: block !important;
}

.hide {
    display: none;
}

.share-socials {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    position: relative;
}

#share {
    /*left: -160px;*/
}

.addthis_inline_share_toolbox {
    /*   position: absolute;*/
    top: -7px;
    right: 105%;
    width: 80%;
}

.share-socials .mb-5 {
    margin-bottom: 1rem !important;
}

.at-resp-share-element .at-share-btn:focus, .at-resp-share-element .at-share-btn:hover {
    transform: translateY(0) !important;
}

.page-content .side-sticky {
    width: 260px;
}

@media only screen and (max-width: 1680px) {
    .addthis_inline_share_toolbox {
        position: static;
    }

    .share-socials {
        flex-direction: column-reverse;
    }

        .share-socials .mb-5 {
            margin-bottom: 0 !important;
        }
}
.load-gif {
    display: none;
}


.load-more-list .load-more-item:nth-of-type(1n+4) {
    display: none;
}

.shown {
    display: block
}

.not-shown {
    display: none;
}

.load-gif {
    display: none;
}

.sp.sp-loading {
    animation: e .6s infinite linear;
}

.sp {
    width: 0;
    height: 29px !important;
    clear: both;
    border: 3px solid #001e62;
    border-top: 3px solid #001e62 !important;
    border-radius: 50%;
    }

.me-2 {
    margin-right: .5rem !important;
}

.d-inline-block {
    display: inline-block !important;
}

.align-middle {
    vertical-align: middle !important;
}